/* Full-page layout with sticky code/output section */
.split-container {
  position: sticky;               
  top: 70px;                      
  display: grid;
  grid-template-columns: 60% 6px auto;
  width: 100%;
  height: calc(100vh - 80px);      
  background-color: #000000;
  z-index: 1;
}

/* Resizer */
.resizer {
  background-color: #444;
  cursor: col-resize;
  width: 6px;
}

/* Panels */
.panel {
  background-color: #000000;
  color: white;
  padding: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* Header with title + button */
.panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



/* Output box */
.output-box {
  flex-grow: 1;
  background-color: #1f1f1f;
  border: 1px solid #444;
  border-radius: 4px;
  padding: 10px;
  color: #dcdcdc;
  overflow-y: auto;
  font-family: monospace;
  font-size: 14px;
}

/* Button */
.panel-button {
  background-color: #3a3a3a;
  color: white;
  border: 1px solid #b7b7b7;
  border-radius: 4px;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 16px;
}

/* Loading  */

.spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.spinner {
  border: 4px solid #ccc;
  border-top: 4px solid #161464;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.editor-container {
  display: flex;
  flex-grow: 1;
  height: 100%;
  border: 1px solid #444;
  border-radius: 4px;
  overflow: hidden;
  background-color: #1f1f1f;
}

.line-numbers {
  padding: 10px 6px 10px 10px;
  background-color: #1b1b1b;
  color: #888;
  font-family: monospace;
  font-size: 16px;
  line-height: 1.5;
  text-align: right;
  user-select: none;
  overflow: hidden;
}

.line-number {
  height: 1.5em;
}

.code-editor {
  width: 100%;
  padding: 10px;
  font-family: 'Fira Code', monospace;
  font-size: 16px;
  color: #f8f8f2;
  background-color: transparent;
  border: none;
  outline: none;
  resize: none;
  line-height: 1.5;
  overflow: auto;
}

